name: C++ Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cpp-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install cppcheck
        run: sudo apt-get update && sudo apt-get install -y cppcheck

      - name: Run cppcheck
        run: |
          cppcheck --enable=all --inconclusive --std=c++20 \
            --suppress=missingIncludeSystem \
            --suppress=checkersReport \
            --suppress=functionConst \
            -Iinclude src
